.App {
  text-align: center;

}



.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

.button {
  border-radius:8px;
  font-size:20px;
  background-color:orange;
  color:white;

}
.content {
  width:250px;
  height:450px;
  margin-top: 100px;
  background-color:green;
}
.content2 {
  width:250px;
  height:250px;
  margin-top: 100px;
  background-color:purple;
}

.green{
  background-color:green;
  color: white;
  font-weight:bold;
  font-size:20px;
}
input{
  display: flex;
  padding:5px;
  margin:5px 0;
  width:100%;
}
 button {
  width:100px;
  padding:10px;
  margin:5px;
     height:75px;
  box-sizing:border-box;
   font-weight:bold;
   background-color:coral;
     border-radius:10%;
}
 #form{
    display: flex;
   flex-direction:column;
   width:100%;
   padding:10px;
  border:3px solid blue;
   height:250px;

 }
 .outSide{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;

 }
 #spans{
     display: flex;
     justify-content: center;
     text-align: center;
 }
#contain {
    display: flex;
    flex-direction: row;
    text-align: center;
    spacing: 10px;
}
#listButton{
    background-color: purple;

}
#listButton:hover{
    background-color: yellow
}
#listButton:active{
    background-color:green
}
#right{
    padding-right: 100px;
}
 .reset1{
     background-color:#69c;
 }
 .reset1:hover{
     background-color:#e4e442;
     font-weight:bold;
     font-size:large;
 }

 .reset2{
     background-color:#660b0b
 }

 .butts{
    display: flex

 }